* {
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
}

html, body, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

nav {
    grid-column: 1 / 4;
    grid-row: 1 / 17;
    background-color: #1992D3;
}

nav img {
    width: 1.3rem;
    height: 1.3rem;

    position: relative;
    top: 5px;
    margin-right: 15px;
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(281deg) brightness(102%) contrast(105%);
}

nav h2 img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 10px;
}

nav h3, nav h2 {
    color: white;
    font-weight: 500;
}

nav h2 {
    font-size: 2rem;
    margin: 0 0 40px 10px;
}

nav h3 {
    font-size: 1.2rem;
    margin: 20px;
}

nav .nav-up {
    margin-bottom: 40px;
}

header {
    grid-row: 1 / 4;
    grid-column: 4 / 17;
    background-color: white;
    padding: 5px 40px;
}

header img {
    width: 1.5rem;
    height: 1.5rem;
}

.logo {
    width: 4rem;
    height: auto;
}

.header-up {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.fake-input {
    height: 25px;
    width: 40vw;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin-right: 12vw;
}

.header-down {
    display: flex;
    align-items: center;
}

.header-down img {
    width: 6rem;
    height: auto;
}

.header-down p {
    font-size: 0.7rem;
}

.header-down h3 {
    font-size: 1.3rem;
}

.buttons {
    margin-left: 25vw;
    display: flex;
    gap: 25px;
}

.header-down button {
    border: 1px solid #1992D3;
    width: 100px;
    background-color: #1992D3;
    color: white;
    border-radius: 25px;
    font-size: 1.1rem;
    padding: 10px 0;
}

main {
    background-color: lightgrey;
    grid-column: 4 / 17;
    grid-row: 4 / 17;

    padding: 0 20px 30px 15px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 25px;
}

.projects::before {
    content: "Your Projects";
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    top: -35px;
}

.projects {
    grid-row: 2 / 13;
    grid-column: 1 / 9;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 5px solid white;
    border-left-color: orange;
    border-radius: 15px;
    padding: 25px 20px 15px 20px;
}

.card p {
    font-size: 0.8rem;
    color: grey;
}

.card-icons {
    display: flex;
    gap: 25px;
    padding-top: 0;
    justify-content: end;
}

.card-icons img {
    width: 1.5rem;
    height: auto;
}